<hr class="my-4 d-md-none">
<div class="container mb-4">
    <hr class="my-4 d-none d-md-block">
    <div class="row mb-4">
        <div class="col-md-3"><a href="https://github.com/{{ site.github }}" target="_blank"><i class="fab fa-github"></i> GitHub</a></div>
        <div class="col-md-3"><a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></div>
        <div class="col-md-3"><a href="https://stackoverflow.com/story/{{ site.stackoverflow }}" target="_blank"><i class="fab fa-stack-overflow"></i> Stack Overflow</a></div>
        <div class="col-md-3"><a href="https://ko-fi.com/{{ site.ko-fi }}" target="_blank"><i class="fas fa-coffee"></i> Ko-fi</a></div>
    </div>
</div>