<div class="jumbotron d-none d-md-block">
    <div class="container">
        <a class="float-right" href="{{ site.braveUrl }}" target="_blank">
            <img src="/assets/img/brave-banner.png" width="217" height="51" />
        </a>
        <h1 class="display-4" itemprop="name headline">{{ page.title | replace: " - ", " &ndash; " }}</h1>
        {% if page.subtitle %}<p class="lead">{{ page.subtitle }}</p>{% endif %}
    </div>
</div>
{% if page.subtitle %}
<div class="container d-md-none">
    <div class="lead my-4">
        {{ page.subtitle }}
    </div>
</div>
<hr class="my-4 d-md-none">
{% endif %}