<nav class="shadow navbar navbar-expand-md sticky-top navbar-dark bg-primary">
    <div class="container">

        <a class="navbar-brand d-md-none" href="#">{% if page.mobileTitle %}{{ page.mobileTitle }}{% else %}{{ page.title | replace: " - ", " &ndash; " }}{% endif %}</a>

        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar-top-menu"
                aria-controls="navbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-top-menu">
            <ul class="navbar-nav">
                {% for menuItem in site.data.menu %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ menuItem.url }}">{{ menuItem.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</nav>
