
{% if paginator.total_pages > 1 %}
<ul class="pagination">

	<li {% if paginator.previous_page == nil %}class="disabled"{% endif %}>
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: '/index.html', '/' }}" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
		</a>
	</li>

	{% for page in (1..paginator.total_pages) %}
		<li {% if page == paginator.page %}class="active"{% endif %}>
			{% if page == 1 %}
				<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: '/index.html', '/' }}">{{ page }}</a>
			{% else %}
				<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			{% endif %}
		</li>
	{% endfor %}

	<li {% if paginator.next_page == nil %}class="disabled"{% endif %}>
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</a>
	</li>

</ul>
{% endif %}
