
{% for post in site.posts  %}

{% assign curr_year = post.date | date: "%Y" %}
{% assign next_year = post.previous.date | date: "%Y" %}

{% if forloop.first %}
<div class="card-header">{{curr_year}}</div>
<ul class="list-group list-group-flush">
{% endif %}

    <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a></li>

{% if forloop.last %}
</ul>
{% elsif curr_year != next_year %}
</ul>

<div class="card-header">{{next_year}}</div>
<ul class="list-group list-group-flush">
{% endif %}

{% endfor %}
