
{% if paginator.total_pages > 1 %}
<nav aria-label="Blog navigation">
    <ul class="pagination justify-content-center">

        <li class="page-item {% if paginator.previous_page == nil %}disabled{% endif %}">
            <a
                    class="page-link"
                    href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: '/index.html', '/' }}"
                    aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% for page in (1..paginator.total_pages) %}
            <li class="page-item {% if page == paginator.page %}active{% endif %}">
                {% if page == 1 %}
                    <a
                            class="page-link"
                            href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: '/index.html', '/' }}">
                        {{ page }}
                    </a>
                {% else %}
                    <a
                            class="page-link"
                            href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
                        {{ page }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}

        <li class="page-item {% if paginator.next_page == nil %}disabled{% endif %}">
            <a
                    class="page-link"
                    href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
                    aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

    </ul>
</nav>
{% endif %}
