---
---

$body-bg: #fafafa;
$body-color: #000000;

$jumbotron-bg: #eceff1;
$code-color: #0d47a1;

$theme-colors: (
  "primary": #1976d2,
  "secondary": #ff5722,
  "success": #64dd17,
  "danger": #ff3d00,
  "warning": #ffab00,
  "info": #00b0ff,
  "light": #eceff1,
  "dark": #263238
);

@import "bootstrap";

iframe.docs {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 0;
}

@include media-breakpoint-down(xs) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(lg) {
}
