<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/BlogPosting">

    {% include head.html %}

    <body role="document">

        {% include navbar.html %}

        <div class="container theme-sczerwinski-page" role="main" itemprop="text">

            {% include header.html %}

            {{ content }}

            <div class="post-date"><time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date: '%B %d, %Y' }}</time></div>

            <div class="hidden" itemprop="publisher" itemscope itemtype="http://schema.org/Person">
                <div class="hidden" itemprop="name">{{ site.title }}</div>
            </div>

            {% include disqus.html %}

        </div>

        {% include footer.html %}

    </body>

</html>
